.course-content {
  display: flex;
  padding: 80px 7.5%;
  flex-wrap: wrap;
}

.card-info {
  color: #000;
  box-shadow: 0 4px 15px rgb(12 22 44 / 10%);
  border-radius: 20px;
}

.card-info-padding {
  padding: 60px 40px;
}

.card-answer-padding {
  margin-top: 20px;
  padding: 20px 30px;
}

.title-course {
  margin-top: 10px;
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 120%;
  color: rgb(12, 22, 44);
}

.title-validation {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: rgb(12, 22, 44);
  margin-bottom: 15px;
}

.comment-validation {
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: rgb(61, 69, 86);
  margin-bottom: 15px;
}

.imgContent {
  display: flex;
  margin: 40px 0;
}

.imgChapter {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.commentChapter {
  padding: 20px;
  background-color: rgb(223, 231, 251);
  border-radius: 10px;
  font-size: 16px;
  line-height: 150%;
  position: relative;
}

.commentChapter::before {
  content: "";
  position: absolute;
  top: 30px;
  left: -25px;
  width: 0px;
  height: 0px;
  border-right: 35px solid rgb(223, 231, 251);
  border-top: 20px solid transparent;
  transform: rotate(-30.56deg);
}
.question-section {
  padding: 0 40px;
}

.questions {
  border: 1px solid blue;
  padding: 20px;
}

.questions > h2 {
  font-weight: 700;
}

.progress-course {
  margin: 20px 0;
}

.arrow {
  display: flex;
}

.arrow-next {
  display: flex;
  justify-content: end;
}

@media (max-width: 600px) {
  .imgContent {
    display: none;
  }
  .question-section {
    margin-top: 20px;
    padding: 0;
  }
  .arrow {
    flex-wrap: wrap;
    gap: 15px;
  }
}
