.headerBg {
  background: linear-gradient(180deg, #eb383c, #f4f017);
  display: flex;
  padding: 10px 50px;
  flex-wrap: wrap;
}

.logo-content > img {
  width: 100px;
  cursor: pointer;
}

.nav-items {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .logo-content {
    text-align: center;
  }

  .nav-items {
    justify-content: center;
    margin: 10px;
  }

}
